In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import OrdinalEncoder ,OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score ,r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
from sklearn.ensemble import VotingRegressor,BaggingRegressor
from xgboost import XGBRegressor

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999

In [6]:
df['brand'].unique()

In [2]:
# sns.distplot(df['milage'])

In [8]:
df['model_year'] = np.log(df['model_year'])

In [9]:
df['milage'] = np.log(df['milage'])

In [10]:
# sns.distplot(df['milage_log'])

In [11]:
# sns.distplot(df['model_year_log'])

In [12]:
# df['model_year_log'] = df[(df['model_year_log'] > 7.6) & (df['model_year_log'] < df['model_year_log'].max())]

In [13]:
df.sample(1)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
98090,98090,Cadillac,DTS Luxury II,7.602401,11.479162,Gasoline,275.0HP 4.6L 8 Cylinder Engine Gasoline Fuel,A/T,Red,Beige,At least 1 accident or damage reported,Yes,18900

In [14]:
df['engine']  =df['engine'].str.split(' ').str[0].str.split('.').str[0]

In [15]:
replace_values = ['Electric', '–', 'Intercooled', 'Standard', 'Battery','Dual']

In [16]:
df['engine'] = df['engine'].apply(lambda x: np.random.randint(200, 301) if x in replace_values else x)

In [17]:
df['engine'] = df['engine'].apply(lambda x: np.random.randint(200, 301) if any(char.isalpha() for char in str(x)) else x)

In [18]:
#df['engine'].unique()  #Electric,–,Intercooled,Standard,Battery

In [19]:
# df.info()

In [20]:
df['engine'] = df['engine'].astype('string')

In [21]:
df['engine'] = df['engine'].astype(int)

In [22]:
df['brand'].unique()

array(['MINI', 'Lincoln', 'Chevrolet', 'Genesis', 'Mercedes-Benz', 'Audi',
       'Ford', 'BMW', 'Tesla', 'Cadillac', 'Land', 'GMC', 'Toyota',
       'Hyundai', 'Volvo', 'Volkswagen', 'Buick', 'Rivian', 'RAM',
       'Hummer', 'Alfa', 'INFINITI', 'Jeep', 'Porsche', 'McLaren',
       'Honda', 'Lexus', 'Dodge', 'Nissan', 'Jaguar', 'Acura', 'Kia',
       'Mitsubishi', 'Rolls-Royce', 'Maserati', 'Pontiac', 'Saturn',
       'Bentley', 'Mazda', 'Subaru', 'Ferrari', 'Aston', 'Lamborghini',
       'Chrysler', 'Lucid', 'Lotus', 'Scion', 'smart', 'Karma',
       'Plymouth', 'Suzuki', 'FIAT', 'Saab', 'Bugatti', 'Mercury',
       'Polestar', 'Maybach'], dtype=object)

In [23]:
# sns.distplot(df['engine'])

In [24]:
df['engine'] = np.log(df['engine'])

In [25]:
# sns.distplot(df['engine'])

In [26]:
# column= df[['brand','fuel_type','ext_co']]

In [27]:
si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [28]:
df[['fuel_type','accident','clean_title']] = si.fit_transform(df[['fuel_type','accident','clean_title']])

In [29]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [30]:
df = df.drop(columns=['id'])

In [31]:
df = df.drop(columns=['transmission'])

In [32]:
df = df.drop(columns=['ext_col'])

In [33]:
df = df.drop(columns=['int_col'])

In [34]:
df.sample()

,brand,model,model_year,milage,fuel_type,engine,accident,clean_title,price
13569,Chevrolet,Suburban 1500 LT,7.608374,11.999854,Gasoline,5.872118,At least 1 accident or damage reported,Yes,17995

In [35]:
df.shape

(188533, 9)

In [36]:
#accident,clean_title,

In [37]:
# df['ext_col'] = df['ext_col'].str.split(' ').str[-1]
# replace_thing = ['-']
# color = ['Yellow','Red','Blue','White','Metallic','Gray','Green']
# df['ext_col'] = df['ext_col'].apply(lambda x: random.choice(color) if x in replace_values else x)
# df['ext_col'].unique()

In [38]:
Ore = OrdinalEncoder()

In [39]:
df[['accident','clean_title']] = Ore.fit_transform(df[['accident','clean_title']])

In [40]:
df[['model']] = Ore.fit_transform(df[['model']])

In [41]:
df.sample(3)

,brand,model,model_year,milage,fuel_type,engine,accident,clean_title,price
48439,Toyota,1529.0,7.608871,9.703877,Gasoline,1.791759,1.0,0.0,197499
112019,RAM,25.0,7.607878,9.692767,Diesel,5.857933,1.0,0.0,19290
58305,Land,1419.0,7.612337,9.399969,Gasoline,6.259581,1.0,0.0,179000

In [42]:
 df['fuel_type'].unique()

array(['Gasoline', 'E85 Flex Fuel', 'Hybrid', 'Diesel', 'Plug-In Hybrid',
       '–', 'not supported'], dtype=object)

In [43]:
df['transmission'] = df['transmission'].str.strip().str.lower()

transmission_mapping = {

    '6-speed a/t': 'Automatic',
    '8-speed automatic': 'Automatic',
    'automatic': 'Automatic',
    '7-speed a/t': 'Automatic',
    'a/t': 'Automatic',
    '8-speed a/t': 'Automatic',
    'transmission w/dual shift mode': 'Automatic',
    '9-speed automatic': 'Automatic',
    '10-speed automatic': 'Automatic',
    '1-speed a/t': 'Automatic',
    '2-speed a/t': 'Automatic',
    '2-speed automatic': 'Automatic',
    '4-speed a/t': 'Automatic',
    '5-speed automatic': 'Automatic',
    '4-speed automatic': 'Automatic',
    '6-speed automatic': 'Automatic', 
    '9-speed a/t': 'Automatic',        
    '10-speed a/t': 'Automatic',      
    '7-speed automatic': 'Automatic',  
    '6-speed electronically controlled automatic with o': 'Automatic',
    'single-speed fixed gear': 'Automatic',
    '7-speed dct automatic': 'Automatic',
    '1-speed automatic' : 'Automatic',
    '10-speed automatic with overdrive': 'Automatic',
    'automatic, 9-spd 9g-tronic': 'Automatic',
    'automatic, 8-spd': 'Automatic',
    'automatic, 8-spd sport w/sport & manual modes': 'Automatic',
    'automatic, 8-spd pdk dual-clutch': 'Automatic',
    'automatic, 8-spd m steptronic w/drivelogic, sport & manual modes': 'Automatic',
    'automatic, 8-spd dual-clutch': 'Automatic',
    'transmission overdrive switch': 'Automatic',  
    '8-speed automatic with auto-shift':'Automatic',
    '9-speed automatic with auto-shift': 'Automatic',
    '6-speed automatic with auto-shift': 'Automatic',
 
    '7-speed automatic with auto-shift': 'Tiptronic',
    '5-speed a/t': 'Tiptronic',
    '7-speed a/t tiptronic': 'Tiptronic',  
    '8-speed at': 'Tiptronic',
    '8-speed a/t': 'Tiptronic',
    
 
    '6-speed m/t': 'Manual',
    '7-speed m/t': 'Manual',
    '6-speed manual': 'Manual',
    '5-speed m/t': 'Manual',
    'manual': 'Manual',
    '7-speed manual': 'Manual',
    '8-speed manual': 'Manual',
    'm/t': 'Manual',
    '6 speed at/mt': 'Manual',
    '6 speed mt': 'Manual',

 
    'automatic cvt': 'Variator',
    'cvt transmission': 'Variator',
    'cvt-f': 'Variator',
    
  
    'variable': 'Variator',
    'f': 'Other',                        
    '7-speed': 'Other',                 
    '6-speed': 'Other',                  
    '2': 'Other',                       
    '–': 'Other',
    'scheduled for or in production': 'Other'
}


df['transmission'] = df['transmission'].replace(transmission_mapping)


print(df['transmission'].value_counts())

In [260]:
df['transmission'].unique()

In [261]:
df['transmission'] = Ore.fit_transform(df['transmission'])

In [262]:
df["transmission"] = df["transmission"].replace({'Automatic':1,
                                                'Tiptronic':2,
                                                'Manual':3,
                                                'Variator':4,
                                                'Other':5,
                                                '1-speed automatic':6,
                                                '8-speed automatic with auto-shift':7,
                                                '9-speed automatic with auto-shift':8,
                                                '6-speed automatic with auto-shift':9})
df["transmission"].value_counts()

In [44]:
# Create an instance of the OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit the encoder on the training data
encoded_array_train = encoder.fit_transform(df[['brand', 'fuel_type']])

# Convert the encoded array to a DataFrame
encoded_df_train = pd.DataFrame(encoded_array_train, columns=encoder.get_feature_names_out(['brand', 'fuel_type']))

# Concatenate the original training DataFrame with the new encoded columns and drop the old ones
df = pd.concat([df, encoded_df_train], axis=1).drop(['brand', 'fuel_type'], axis=1)

In [45]:
df.sample(3)

,model,model_year,milage,engine,accident,clean_title,price,brand_Acura,brand_Alfa,brand_Aston,...,brand_Volkswagen,brand_Volvo,brand_smart,fuel_type_Diesel,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_–
110212,1180.0,7.612337,8.536996,5.673323,1.0,0.0,78000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
30038,1102.0,7.610853,10.047588,6.507278,1.0,0.0,47500,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
123859,1666.0,7.610358,10.562845,1.098612,1.0,0.0,33580,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [46]:
df.shape

(188533, 71)

In [47]:
X = df.drop(columns=['price'])

In [48]:
y = df['price']

In [49]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [155]:
li = LinearRegression()
li.fit(X_train,y_train)
y_pred = li.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
np.sqrt(mse)
# 69306.78045800315

69360.89144669793

In [53]:
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
y_pred = rfr.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))
# 75505.16976543787

75554.28796726829

In [102]:
from sklearn.ensemble import GradientBoostingRegressor

In [200]:
gd = GradientBoostingRegressor()
gd.fit(X_train,y_train)
y_pred = gd.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
#68269.06832464023

69381.50488512909

In [1]:
# Lo = LogisticRegression()
# Lo.fit(X_train,y_train)
# y_pred = Lo.predict(X_test)
# np.sqrt(mean_squared_error(y_test,y_pred))

In [217]:
reg1 = LinearRegression()
reg2 = GradientBoostingRegressor()
# reg3 = XGBRegressor()
# reg4 = AdaBoostRegressor()

In [218]:
estimators = [('Lin', reg1),('gb', gd)]

In [219]:
ereg = VotingRegressor(estimators=estimators)

# Fit the model
ereg.fit(X_train, y_train)

# Make predictions
y_pred = ereg.predict(X_test)

# Calculate and print RMSE (Root Mean Squared Error)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)
#69586.51233005124
#68394.50116562379

68597.94525811524

In [ ]:
xgb = XGBRegressor()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
#71337.54538777315

In [202]:
from sklearn.ensemble import AdaBoostRegressor

In [203]:
ada = AdaBoostRegressor()
ada.fit(X_train,y_train)
y_pred = ada.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
#70325.04248887805

In [269]:
reg1 = AdaBoostRegressor()
reg2 = GradientBoostingRegressor()
reg3 = LinearRegression()
voting_regressor = VotingRegressor(estimators=[
    ('ada', reg1),
    ('gd', reg2),
    ('lr', reg3)
])
bagging_regressor = BaggingRegressor(
    base_estimator=voting_regressor,  # Using the VotingRegressor as the base
    n_estimators=10,  # Number of base estimators to use in bagging
    random_state=42,  # For reproducibility
    max_samples=1.0,  # Fraction of samples to use for each estimator
    max_features=1.0  # Fraction of features to use for each estimator
)

# Train the BaggingRegressor on the training data
bagging_regressor.fit(X_train, y_train)

# Make predictions on the test data
y_pred = bagging_regressor.predict(X_test)

# Calculate RMSE for the BaggingRegressor with multiple estimators
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:", rmse)
#Root Mean Squared Error: 71252.79009700463

C:\Users\Asus\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Root Mean Squared Error: 71252.79009700463

In [271]:
reg1 = AdaBoostRegressor()
bagging_regressor = BaggingRegressor(
    base_estimator=reg1,  # Using the VotingRegressor as the base
    n_estimators=50,  # Number of base estimators to use in bagging
    random_state=42,  # For reproducibility
    max_samples=1.0,  # Fraction of samples to use for each estimator
)

# Train the BaggingRegressor on the training data
bagging_regressor.fit(X_train, y_train)

# Make predictions on the test data
y_pred = bagging_regressor.predict(X_test)

# Calculate RMSE for the BaggingRegressor with multiple estimators
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:", rmse)
#Root Mean Squared Error: 71252.79009700463

C:\Users\Asus\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Root Mean Squared Error: 80363.09918774935

In [53]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor

# Create the model
gbr = GradientBoostingRegressor()

# Define the parameters to tune
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 4, 5],
    'subsample': [0.8, 1.0],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']  # For feature selection
}

# Grid search with 5-fold cross-validation
grid_search = GridSearchCV(estimator=gbr, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error')

# Fit the model
grid_search.fit(X_train, y_train)
y_pred = grid_search.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
# Get the best parameters
# best_params = grid_search.best_params_

# print(f'Best parameters found: {best_params}')

In [50]:
from sklearn.ensemble import HistGradientBoostingRegressor

In [95]:
hist = HistGradientBoostingRegressor(loss='squared_error',quantile=None, learning_rate=0.1, max_iter=110, max_leaf_nodes=31,min_samples_leaf=25)
hist.fit(X_train,y_train)
y_pred = hist.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
#68170.0409285204
#with_(max_iter = 110)
#68030.83665385003
#on max_sample_leaf=25
#67947.44349342202

67925.73417662349

In [131]:
from sklearn.ensemble import ExtraTreesRegressor

In [ ]:
Ext = ExtraTreesRegressor()
Ext.fit(X_train,y_train)
y_pred = Ext.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

In [53]:
np.sqrt(mean_squared_error(y_test,y_pred))

68170.04092852048

In [96]:
df1 = pd.read_csv('test.csv')

In [97]:
df1.shape

(125690, 12)

In [98]:
X1 = df1['id']

In [99]:
df1.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
5907,194440,Lexus,GX 460 Base,2020,13700,Gasoline,301.0HP 4.6L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes
32423,220956,Mercedes-Benz,SL-Class SL 550,2011,51400,Gasoline,429.0HP 4.7L 8 Cylinder Engine Gasoline Fuel,7-Speed A/T,White,Black,None reported,Yes

In [100]:
df1['model_year'] = np.log(df1['model_year'])

In [101]:
df1['milage'] = np.log(df1['milage'])

In [102]:
df1['engine']  =df1['engine'].str.split(' ').str[0].str.split('.').str[0]

In [103]:
replace_values = ['Electric', '–', 'Intercooled', 'Standard', 'Battery','Dual']

In [104]:
df1['engine'] = df1['engine'].apply(lambda x: np.random.randint(200, 301) if x in replace_values else x)

In [105]:
df1['engine'] = df1['engine'].apply(lambda x: np.random.randint(200, 301) if any(char.isalpha() for char in str(x)) else x)

In [106]:
df1['engine'] = df1['engine'].astype('string')

In [107]:
df1['engine'] = df1['engine'].astype(int)

In [108]:
df1['engine'] = np.log(df1['engine'])

In [109]:
si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [110]:
df1[['fuel_type','accident','clean_title']] = si.fit_transform(df1[['fuel_type','accident','clean_title']])

In [111]:
df1 = df1.drop(columns=['id','transmission','ext_col','int_col'])

In [112]:
df1.shape  #brand	model	model_year	milage	fuel_type	engine	accident	clean_title	price

(125690, 8)

In [113]:
df1.sample(3)

,brand,model,model_year,milage,fuel_type,engine,accident,clean_title
118744,Ford,F-150 XLT,7.609367,10.868568,E85 Flex Fuel,5.978886,None reported,Yes
22368,Lexus,LX 570 Three-Row,7.611348,10.016816,Gasoline,5.948035,None reported,Yes
20431,Toyota,GR86 Premium,7.612337,7.150701,Gasoline,5.429346,None reported,Yes

In [114]:
Ore = OrdinalEncoder()

In [115]:
df1[['accident','clean_title']] = Ore.fit_transform(df1[['accident','clean_title']])

In [116]:
df1[['model']] = Ore.fit_transform(df1[['model']])

In [117]:
df1.shape

(125690, 8)

In [118]:
df1.sample(3)

,brand,model,model_year,milage,fuel_type,engine,accident,clean_title
92705,Bentley,487.0,7.609862,10.254109,Gasoline,6.401917,1.0,0.0
115351,BMW,968.0,7.606387,10.933107,Gasoline,6.025866,1.0,0.0
90046,Chevrolet,1625.0,7.609862,11.195966,Gasoline,5.872118,1.0,0.0

In [119]:
 df1['fuel_type'].unique()

array(['Gasoline', 'Hybrid', 'Diesel', 'E85 Flex Fuel', 'Plug-In Hybrid',
       '–', 'not supported'], dtype=object)

In [120]:
df1.shape

(125690, 8)

In [121]:
df.shape

(188533, 71)

In [122]:
# Transform the test data using the already-fitted encoder
encoded_array_test = encoder.transform(df1[['brand', 'fuel_type']])

# Convert the encoded array to a DataFrame for the test data
encoded_df_test = pd.DataFrame(encoded_array_test, columns=encoder.get_feature_names_out(['brand', 'fuel_type']))

# Concatenate the original test DataFrame with the new encoded columns and drop the old ones
df1 = pd.concat([df1, encoded_df_test], axis=1).drop(['brand', 'fuel_type'], axis=1)

In [123]:
df1.shape

(125690, 70)

In [126]:
y_pred = hist.predict(df1)

In [127]:
y_pred.shape

(125690,)

In [128]:
X.shape

(188533, 70)

In [129]:
X1.shape

(125690,)

In [130]:
df2=pd.DataFrame({'id':X1,'price':y_pred})
df2.to_csv('submission4.csv',index=False)